body ,body p {
  font-family :'Open Sans';
  font-weight :400;
}
h1, h2, h3, h4, h5, h6, .menu-list a {
   font-family :'Open Sans';
   font-weight :700;
}
.top-bar-section ul li > a {
    font-family : 'Open Sans';
}
.top-bar-section ul li > a {
  font-weight : 400;
}
.top-bar-section ul li > a {
  text-transform : none;
}
h1, h2, h3, h4, h5, h6, .menu-list a {
  text-transform : none;
}
body ,body p {
  text-transform : none;
}
.primary-color,#filters li:hover,#filters li:first-child, #filters li:focus, #filters li:active,
.wd-section-blog-services.style-3 .wd-blog-post h4:after,
.box-icon img, .box-icon i,
button:hover, button:focus, .button:hover, .button:focus,
button, .button,
.wd-latest-news .wd-image-date span strong,
.wd-section-blog.style2 h4:after,
.pricing-table.featured .title,
.accordion .accordion-navigation > a, .accordion dd > a,
.searchform #searchsubmit,.wd-pagination span,.blog-page .quote-format blockquote,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.products .product .button,
.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
.woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt,
.woocommerce-page button.button.alt, .woocommerce-page input.button.alt,
.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover,
.woocommerce a.button:hover, .woocommerce button.button:hover,
.woocommerce input.button:hover, .woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover,
.woocommerce-page button.button:hover, .woocommerce-page input.button:hover,
.woocommerce span.onsale, .woocommerce-page span.onsale,
.woocommerce-page button.button, .widget_product_search #searchsubmit, .widget_product_search #searchsubmit:hover,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button
{
  background:rgba(182,112,42,1);
}

.wd-section-blog-services.style-3 .wd-blog-post .shape {
  stroke: rgba(182,112,42,1)
}

.wd-menu3-logo {
  border-top: 70px solid rgba(0,0,0,0.45)
}

.triongle {
  background-color: rgba(0,0,0,0.45)
}
.blog-page .read-more-link,
#wp-calendar a,.wd-testimonail blockquote cite,
.list-icon li:before
{
  color:rgba(182,112,42,1);
}
.hvr-underline-from-center:before,
.hvr-outline-in:before {
  border-color:rgba(209,154,32,1);
}
.wd-footer {
  background: rgb(44, 44, 44);
  background-size: cover;
  background-position: bottom;
}

.wd-title-section_c h2::after, .wd-title-section_l h2::after, .wd-latest-news .wd-title-element::after, .hvr-underline-from-center::before  {
  background-color: rgba(182,112,42,1);
}
.wd-latest-news .hvr-pop.read-more{
  color: rgba(182,112,42,1);
}

button.alert, .button.alert, .wd-newsletter .newslettersubmit{
  background-color: rgba(182,112,42,1);
  border-color: rgba(182,112,42,1);
}
a:hover, a:focus {
  color: rgba(182,112,42,1);
}
.wd-latest-news .wd-image-date span{
  background-color: rgba(209,154,32,1);
}
@media (min-width: 40.063em) {
  .creative-layout .contain-to-grid.sticky{
    background: linear-gradient(180deg, rgba(0,0,0,0.45) 0px,rgba(0,0,0,0) 97%);
  }
}
.creative-layout .contain-to-grid.sticky.fixed{
  background-color: rgba(0,0,0,0.8);
}
.creative-layout .top-bar-section ul li > a {
  color: rgba(255,255,255,1);
}
.creative-layout .fixed .top-bar-section ul li > a {
  color: rgba(255,255,255,1);
}
.creative-layout .fixed .top-bar-section ul li > a:hover, .creative-layout .fixed .top-bar-section ul li.active_menu > a {
  color: rgba(182,112,42,1);
}



.serviceBox{
    text-align: center;
    margin-top: 20px;
}
.serviceBox .service-icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 70px;
    border-radius: 50% 0 50% 50%;
    border: 5px solid #8da143;
    font-size: 30px;
    color: #8da143;
    margin-bottom: 30px;
    transform: rotate(-45deg);
    transition:all 0.3s ease 0s;
}
.serviceBox:hover .service-icon{
    border-radius: 50% 50% 50% 0;
}
.serviceBox .service-icon i{
    transform: rotate(45deg);
}
.serviceBox .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #475156;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.serviceBox .description{
    font: 13px;
    color: #897b7b;
    line-height: 25px;
    transition: all 300ms ease 0s;
}
@media only screen and (max-width:990px){
    .serviceBox{ margin-bottom: 30px; }
}

.serviceBox1{
  text-align: center;
}
.serviceBox1 .service-icon1{
  width: 229px;
  height: 229px;
  border-radius: 50%;
  background: transparent;
  border: 13px solid #c2d57d;
  margin: 0 auto 37px;
  padding: 35px 0 0;
  transition: all 0.25s ease 0s;
}
.serviceBox1:hover .service-icon1{
  background:#8da143;
}
.serviceBox1 .service-icon1 span{
  border-bottom: 5px solid #8da143;
  color: #8da143;
  display: inline-block;
  font: bold 48px/54px "Arial Black";
  margin-bottom: 16px;
  transition: all 0.25s ease 0s;
}
.serviceBox1:hover .service-icon1 span{
  color: #fff;
  border-bottom: 5px solid #fff;
}
.serviceBox1 .service-icon1 h3{
  color: #293f4c;
  display: block;
  font: bold 18px/24px "Arial";
  margin-top: 0;
  text-transform: capitalize;
  transition: all 0.25s ease 0s;
}
.serviceBox1:hover .service-icon1 h3{
  color: #fff;
}
.serviceBox1 .service-content p {
  color: #4d6574;
  font: 12px/24px "Arial";
  margin-bottom: 29px;
}
.serviceBox1 .read {
  background: #293f4c;
  color: #fff;
  display: inline-block;
  font: bold 16px/53px "Arial";
  padding: 0 32px;
  text-transform: capitalize;
  transition: all 0.25s ease 0s;
}
.serviceBox1:hover .read{
  background: #8da143;
  text-decoration: none;
}
@media screen and (max-width: 990px){
  .serviceBox1{
      margin-bottom: 30px;
  }
}

.card {
  background-color: #F8F8FB;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.our-process__item {
  background: #222;
  padding: 45px 30px;
  position: relative;
  margin-top: 25px;
  color: #fff;
}

.our-process__item>h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 22px;
  font-size: 22px;
}

.about-flooring-img{
  margin-top: 10px;
  border: 5px solid #8da143;
  border-radius: 5px;
}

.project_img{
  width: 580px;
  height: auto;
  margin-bottom: 20px;
}


span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.section-head {
margin-bottom: 60px;
}
.section-head h4 {
position: relative;
padding:0;
color:#f91942;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #f91942;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
}

.extra-text {
  font-size:34px;
  font-weight: 700;
  color:#2f2f2f;
  margin-bottom: 25px;
  position:relative;
  text-transform: none;
}
.extra-text::before {
  content: '';
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.extra-text span {
  font-weight: 700;
  color:#f91942;
}
.item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border:5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover{
  background:#f91942;
  box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
  background:#fff;
  border-radius:10px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
  color:#fff;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item .icon {
  font-size: 40px;
  margin-bottom:25px;
  color: #f91942;   
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.item .feature_box_col_one{
  background:rgba(247, 198, 5, 0.20);
  color:#f91942
}
.item .feature_box_col_two{
  background:rgba(255, 77, 28, 0.15);
  color:#f91942
}
.item .feature_box_col_three{
  background:rgba(0, 147, 38, 0.15);
  color:#f91942
}
.item .feature_box_col_four{
  background:rgba(0, 108, 255, 0.15);
  color:#f91942
}
.item .feature_box_col_five{
  background:rgba(146, 39, 255, 0.15);
  color:#f91942
}
.item .feature_box_col_six{
  background:rgba(23, 39, 246, 0.15);
  color:#f91942
}
.item p{
  font-size:15px;
  line-height:26px;
}
.item h6 {
  margin-bottom:20px;
  color:#2f2f2f;
}
.mission p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
}
.mission i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f91942;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
}
.mission .small-text {
  margin-left: 10px;
  font-size: 13px;
  color: #666;
}
.skills {
  padding-top:0px;
}
.skills .prog-item {
  margin-bottom: 25px;
}
.skills .prog-item:last-child {
  margin-bottom: 0;
}
.skills .prog-item p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius:20px;
  position: relative;
}
.skills .prog-item .skills-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #f91942;
  width: 10%;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
  content: attr(data-value);
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 10px;
  font-weight:600;    
  color: #fff;
  background:rgba(0, 0, 0, 0.9);
  padding: 3px 7px;
  border-radius: 30px;
}
:root{
  --color1: #0fb513;
  --color2: #d41271;
  --color3: #ff4a26;
  --color4: #1e3799;
}
.serviceBox2{
  color: #555;
  font-family: 'Sniglet', cursive;
  text-align:center;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
.serviceBox2 .service-icon2{
  color: var(--color1);
  background: #fff;
  font-size: 40px;
  line-height: 90px;
  height: 110px;
  width: 110px;
  margin: 0 auto 30px;
  border: 10px solid var(--color1);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  position: relative;
  transition: all 0.3s;
}
.serviceBox2 .service-icon2 i{
  transform: rotateY(0deg);
  transition: all 0.3s ease 0s;
}
.serviceBox2:hover .service-icon2 i{ transform: rotateY(360deg); }
.serviceBox2 .service-icon2:before{
  content: "";
  background: linear-gradient(to right , var(--color1) 49%, transparent 50%);
  width: 122%;
  height: 150%;
  border-radius: 50%;
  transform: translateX(-50%) rotateY(180deg);
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: -1;
  transition: all 0.3s;
}
.serviceBox2:hover .service-icon2:before{ transform: translateX(-50%) rotateY(0); }
.serviceBox2 .title{
  color: var(--color1);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox2 .description{
  font-size: 15px;
  line-height: 25px;
}
.serviceBox2.magenta .service-icon2{
  color: var(--color2);
  border-color: var(--color2);
}
.serviceBox2.magenta .service-icon2:before{
  background: linear-gradient(to right,var(--color2) 49%, transparent 50%);
}
.serviceBox2.magenta .title{ color: var(--color2); }
.serviceBox2.orange .service-icon2{
  color: var(--color3);
  border-color: var(--color3);
}
.serviceBox2.orange .service-icon2:before{
  background: linear-gradient(to right,var(--color3) 49%, transparent 50%);
}
.serviceBox2.orange .title{ color: var(--color3); }
.serviceBox2.blue .service-icon2{
  color: var(--color4);
  border-color: var(--color4);
}
.serviceBox2.blue .service-icon2:before{
  background: linear-gradient(to right,var(--color4) 49%, transparent 50%);
}
.serviceBox2.blue .title{ color: var(--color4); }
@media only screen and (max-width:990px){
  .serviceBox{ margin: 0 0 30px; }
}

.about_img{
  margin-top: 0%;
}
.about_img3{
  margin-top: -30%;
}

@media only screen and (max-width:480px){
  .about_img{
    margin-top: 0%;
  }
  .about_img3{
    margin-top: 0%;
  }
}
.