.box{
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: relative;
}
.box img{
    width: 100%;
    height: 270px;
}
.box .box-content{
    padding-top: 15%;
    border: 1px solid #fff;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transform: scaleY(0);
    transition: all 0.5s ease 0s;
}
.box:hover .box-content{
    opacity: 1;
    transform: scaleY(1);
}
.box .title{
    font-size: 22px;
    font-weight: 700;
    color: #da2d5b;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.box .post{
    display: block;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}

.box .read-more{
    display: block;
    width: 120px;
    padding: 10px 0;
    background: #e44242;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
}
.box .read-more:hover{
    background: #c62020;
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 30px; }
}
.modal-open {
	overflow:hidden
}
.modal {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	display:none;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	outline:0
}
.modal.fade .modal-dialog {
-webkit-transition:-webkit-transform .3s ease-out;
-o-transition:-o-transform .3s ease-out;
transition:transform .3s ease-out;
	-webkit-transform:translate(0, -25%);
	-ms-transform:translate(0, -25%);
	-o-transform:translate(0, -25%);
	transform:translate(0, -25%)
}
.modal.in .modal-dialog {
	-webkit-transform:translate(0, 0);
	-ms-transform:translate(0, 0);
	-o-transform:translate(0, 0);
	transform:translate(0, 0)
}
.modal-open .modal {
	overflow-x:hidden;
	overflow-y:auto
}
.modal-dialog {
	position:relative;
	width:auto;
	margin:10px
}
.modal-content {
	position:relative;
	background-color:#fff;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border:1px solid #999;
	border:1px solid rgba(0, 0, 0, .2);
	outline:0;
	-webkit-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
	box-shadow:0 3px 9px rgba(0, 0, 0, .5)
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#43434e
}
.modal-backdrop.fade {
	filter:alpha(opacity=0);
	opacity:0
}
.modal-backdrop.in {
	filter:alpha(opacity=50);
	opacity:.5
}
.modal-header {
	padding:15px;
}
.modal-header .close {
	margin-top:-2px
}
.modal-title {
	margin:0;
	line-height:1.42857143
}
.modal-body {
	position:relative;
	padding:15px
}
.modal-footer {
	padding:15px;
	text-align:right;
	border-top:1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-bottom:0;
	margin-left:5px
}
.modal-footer .btn-group .btn+.btn {
	margin-left:-1px
}
.modal-footer .btn-block+.btn-block {
	margin-left:0
}
.modal-scrollbar-measure {
	position:absolute;
	top:-9999px;
	width:50px;
	height:50px;
	overflow:scroll
}
@media (min-width:768px) {
.modal-dialog {
max-width:1100px;
margin:10% auto
}
.modal-content {
-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, .5);
box-shadow:0 5px 15px rgba(0, 0, 0, .5)
}
.modal-sm {
width:300px
}
}
@media (min-width:992px) {
.modal-lg {
width:900px
}
}
.modal-body img{
	width: 100%;
    height: 255px;
}