.kitchen_tabs{
  margin-bottom: 2%;
}

.kitchen_nav_tabs{
  margin-left: 1%;
  font-size: 14px;
  margin: 4px;
  font-weight: 600;
  padding: 7px;
  border: 2px solid ;
  cursor: pointer;
  font-family: "Open Sans";
  border-radius: 20px
}

.kitchen_nav_tabs:hover{
  opacity: 1;
  background-color: rgb(33, 104, 24);
  color: #ffffff;
  border: 2px solid rgb(33, 104, 24);
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.kitchen_content p{
  font-family: "Roboto Condensed",Arial,sans-serif ;
}

.kitchen_content img{
  width: 100%;
  height: 200px;
}

.kitchen_nav_tabs .active{
  background-color: #000;
}

.m-t-15{
  margin-top: 15px;
}

.kitchen_remodel img{
  width: 100%;
  height: 250px;
}


@media only screen and (min-width:320px){
  .block-title1{

margin-right: 46px;
  }
}
