.ftco-section .ftco-sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #d4d4d4;
    font-family: work sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 300
}

.ftco-section .ftco-primary-title {
    margin-top: 0;
    margin-bottom: 30px
}
.ftco-section {
    padding: 7em 0;
    position: relative
}
.d-md-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
}
.gallery {
    width: 25%;
    position: relative
}

.gallery:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, .2);
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease
}

@media(max-width:767.98px) {
    .gallery {
        width: 100%
    }
}

.gallery.img {
    display: block;
    height: 300px
}

.gallery .icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .8);
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease
}

.gallery .icon span {
    color: #f86f2d
}

.gallery:hover .icon {
    opacity: 1
}

.gallery:hover:after {
    opacity: 0
}
.image-popup {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important
}
img {
    vertical-align: middle;
    border-style: none
}
img {
    page-break-inside: avoid
}

.gallery.img {
    display: block;
    height: 300px
}
.ftco-animate {
    opacity: 0;
    visibility: hidden
}

@media(max-width:767.98px) {
    .ftco-section {
        padding: 6em 0
    }
}