.text-justify{
    text-align: justify;
    /* word-break: break-all;
    padding-top: 5%; */
}
.home_logo{
    line-height: 40px;
}
.wd-title-bar {
    background: url(../images/titlebar-bg.webp) no-repeat center center;
    min-height: 210px !important;
    padding-top: 120px !important;
 
}
.about-flooring {
    padding: 20px 0 !important;
}
.about_main_heading{
    padding: 0px;
    margin-bottom: 0px;
}
.about_main_heading h2{
    padding-top: 0px;
}
.bathroom_model{
    padding: 20px;
}
.logo_top{
    margin-top: -56px;
}
.material_heading{
    padding: 20px;
}
.wd-title-section_c h5{
    width: 670px;
}
.bathroom_logo{
    margin-top: -20px !important;
}
.gallery_1{
    margin-bottom: 1%;
}
.top-row{
    margin-top: 1%;
}
.top-row img{
    margin-top: 3px;
}
.why_choose_us{
    margin-left: 10px;
    width: 32.5%;
}
/* .choose .card{
    width: 30%;
} */
.choose-us{
    padding: 0px;
}
.clr{
color:#000000;
}
.our-process{
    padding-bottom: 2%;
}
.company_name:hover{
    color: #798b8b !important;
}
.footer_bt_content{
    padding: 14px;
}
.project-info{
    text-align: justify;
}
.visualize iframe{
    height: 700px;
    width: 100%;
}
.mb-10{
    margin-bottom: 10px;
}
.lowercase a{
    text-transform: lowercase;
}
.bcenter a{
    margin-left:38%;
}


@media only screen and (max-width:480px){
    .wd-latest-news .wd-title-element::after{
        margin-left: 41%;
    }
    .text-justify{
        text-align: justify !important;
        word-break: break-all !important;
        padding-top: 5% !important;
    }
    .wd-latest-news .hvr-pop.read-more {
        margin-right:40%;
    }
    .wd-newsletter .newslettersubmit {
        top: 42px !important;
    }
    .mb_fontsize{
     font-size: 22px;
    }
    .wd-latest-news .wd-title-element::after {
        margin: 15px 179px 10px !important;
    }
    .logo_center{
        margin-left: 117px;
    }
    .footer_k{
        padding:0px;
    }
   
    .home_latest_news{
        text-align: center;
    }
    .latest_news{
        margin-bottom: 3%;
    }
    .bcenter a{
        margin-left:0% !important;
    }

    .fs{
        font-size: 25px;
    }
    .wd-title-bar {
       
        min-height: 120px !important;
        padding-top: 40px !important;
    }
    .mb_mb{
        margin-bottom: -12%;
    }
    /* .creative-layout .top-bar .name h1 a img{
        margin-top: -56px;
    } */
    .hide_heading{
        display: none;
    }
    .wd-title-section_c h5{
        width: 300px;
    }
    /* .home_logo{
        line-height: 80px;
        margin-top: 5px !important;
    } */
    .why_choose_us{
        width: 100% !important;
        margin-left: 0px;
        margin-bottom: 5%;
    }
    .widget-info{
        margin-left: 15% !important;
    }
    .wd-footer h2{
        text-align: center !important;
    }
    .wd-newsletter{
        margin-left: 15% !important;
    }
    .copyright p{
        margin-left: 3% !important;
    }
    .slider .flexslider .flex-viewport .slides li .row .slider-caption{
        text-align: center;
    }
    
.slider .flexslider .flex-viewport .slides li .row .slider-caption h1::after{
    margin-left: 42%;
}
.mr-top-5{
    margin-top: 5%;
}
.our-services{
    padding: 0px;
}
.no-padding{
    padding-top: 0px !important;
}
.our-process{
    padding-bottom: 2%;
    
}
.copyright p{
    font-size: 12px !important;
}
.wd-footer p{
    text-align: center !important;
}
.kitchen_nav_tabs{
    width: 100%;
}
.footer_bt_content{
    padding: 0px !important;
}
.visualize iframe{
    height:300px;
    width: 100%;
}
.mb-10{
    margin-bottom: 10px !important;
}
.read-more-button{
    margin-top: -13%;
}
.read-more-button a{
    margin-right: 30%;
    text-align: center;
    margin-bottom: 3%;
}
.lg-display{
    width: 100% !important;
}
.logo_center{
    margin-left: 37% !important ;
   }
    .wd-title-section_c .line_heading{
    font-size: 25px !important;
}
.card-deck{
    flex-flow: column !important;
    width: 100% !important;
      margin-left: 0px !important;
}

}



/* / backtop icon / */
/* #myBtn {
 display: none;
 position: fixed;
 bottom: 30px;
 right: 30px;
 z-index: 99;
 font-size: 18px;
 border: none;
 outline: none;
 background-color: #839738;
 color: white;
 cursor: pointer;
 padding: 9px;
 border-radius: 100px;
}

#myBtn:hover {
 background-color: #555;
} */
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    }
    #back2Top:hover {
    background-color: #DDF;
    color: #000;
    }

/* / backtop icon ends / */
@media only screen and (min-width:480px) and (max-width: 767px){
    .why_choose_us{
        width: 32%;
    }

   
    .wd-title-section_c h2 {
        font-size: 30px !important;
       
    }
    .wd-newsletter .newslettersubmit {
        top: 42px !important;
    }
    .wd-title-section_c h5 {
        font-size: 22px !important;

    }
    body p {
        font-size: 22px !important;
    } 
    .wd-text-icon-style5 .box-description h3 {
        font-size: 27px!important;
    }
    .latest-news .wd-title-element {
        font-size: 24px !important;
    }


    .wd-latest-news .hvr-pop.read-more {
       font-size:24px !important; 
      
    }
    .widget-info{
        margin-left: 15% ;
    }
    .wd-footer h2{
        text-align: center;
    }
    .wd-newsletter{
        margin-left: 15% ;
    }
    .copyright p{
        margin-left: 15% ;
    }
    .widget-info span {
     
        font-size: 18px 
    }
    .wd-footer h2 {
        
        font-size: 25px ;
    }
   .logo_center{
    margin-left: 300px ;
   }
   .wd-newsletter {
       font-size:16px ;
   }
  /* .lg-card{
      flex: 0 0 0% !important;
  } */
  .card-deck{
      flex-flow: column;
      width: 140%;
      margin-left: -100px;
  }
  .contact-us-wrapper{
      text-align: center;
  }
  .wd-section-map iframe{
      width: 100%;
  }
  .lg-display{
      width: 30%;
  }
  .box img{
      width: 100%;
      height: 350px;
  }
  .lg-img img{
      width: 100%;
  }
  .lg-heading{
      font-size: 26px;
  }
  .about_img{
    margin-top: 0%;
  }
  .about_img3{
    margin-top: 0%;
  }
  .card-deck .card{
      margin-bottom: 10px;
  }
  .lg-icon a span{
      font-size: 24px;
  }
  .copyright p{
      margin-left: 0px;
      font-size: 20px !important;
  }
  .creative-layout .top-bar-section ul li>a{
    font-size: 20px;
  }
  
  .top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button){
    font-size: 16px;
  }
  .wd-latest-news .wd-title-element::after {
   
    margin: 15px 318px 10px;
}
 
}
.submit_button{
    padding: 10px;
    border-radius: 22px;
}
.register_button{
    padding: 8px;
    border-radius: 20px;
    text-transform: capitalize !important;
}
.register_button a{
    color: #DDF;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize !important;
}

@media only screen and (max-width: 480px){
.home_logo {
    line-height: 80px;
    margin-top: -20px !important;
}
.home_logo9{
    margin-top: -20px !important;
}
.home_logo8{
    line-height: 80px;
    margin-top: 0px !important;
}
}

@media only screen and (max-width: 480px){
    .home_logo1{
        line-height: 80px;
        margin-top: -20px !important;
    }
    }
  



